# 環境変数
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# DB
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# exe build outputs
exe_build/dist/
exe_build/build/
exe_build/*.spec
exe_build/poppler/
*.exe
